@import "tailwindcss";
@plugin 'tailwindcss-motion';
@plugin 'tailwindcss-intersect';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-stain: #ebe4bb;
  --color-moss: #527d39;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

p {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

